.calc-container {
    height: 500px;
    border: 2px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    background-color: grey;
}

.num {
    height: 100px;
    border: 2px solid black;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

.inp {
    width: 250px;
    height: 100px;
}
.equal{
    width:120px;
}

button {
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    width: 60px;
}

button:hover {
    background-color: rgb(230, 230, 192);

}
